.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 2px #333;
    .header__logo {
        font-size: 3.8rem;
        color: rgb(247, 35, 74);
    }
    ul {
        list-style-type: none;
        display: flex;
        .header__item {
            font-weight: 600;
            padding: 10px 20px;
            border-radius: 20px;
            cursor: pointer;
            &:hover {
                background-color: #e9ecef;
            }
        }
    }
}
.content {
    width: 1200px;
}
.white {
    border: 1px solid #000;
}
