.header {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 47px;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px); //hiệu ứng làm mờ hoặc thay đổi màu sắc của phần nền phía sau một phần tử
    box-shadow: 0 0 2px hsl(0, 0%, 20%);
    z-index: 100;
}

.header_div {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    .help_icon {
        font-size: 5rem;
        color: rgb(228, 47, 77);
    }
    .btn {
        font-size: 2rem;
        color: white;
        border-radius: 31px;
        padding: 10px 20px;
        background: linear-gradient(to right, rgb(228, 47, 77), pink);
    }
}

.container {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
